<h2>Authors</h2>
<% @authors.all.each do |author| %>
<a href="/authors/<%= author.id %>">
  <p id="title-<%= author.id %>"></p>
</a>
  <div id="body-<%= author.id %>"></div>
  <button class="js-more" data-id="<%= author.id %>">More Info</button>
<% end %>
