<h2>Authors</h2>
<% @authors.all.each do |author| %>
  <li id="title-<%= author.id %>"></li>
  <div id="body-<%= author.id %>">
  <button class="js-more" data-id="<%= author.id %>">More Info</button>
<% end %>
