<h2 class="authorName">Books by <%= @author.name %></h2>
<ol>
<% @author.books.each do |book| %>
  <div class="books-<%= @author.id %>">
    <%= link_to book.title, book_path(book.id) %>
  </div>
<% end %>
</ol>
<a href="#" class="js-next" data-id="<%=@author.id%>"> Next Author</a>
