<h2>Books by
  <div id="authorName"></div>
  <div id="htmlAuthorName"><%= @author.name %></div>
</h2>

<div id="htmlAuthorBooks">
  <ol>
  <% @author.books.each do |book| %>
      <%= link_to book.title, book_path(book.id) %>
  <% end %>
  </ol>
</div>

<div id="authors_books">
</div>

<a href="#" class="js-next" data-id="<%= @author.id %>"> Next Author</a>
